<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Dojos: Form</title>
    <meta charset='utf-8' />
    <link rel='stylesheet'
    href="{{ url_for('static', filename='css/stylesheet.css') }}" />
  </head>
  <body>
    <form action="" method="post">
      Name: <input type="text" name="form_name">
      Location: <input type="text" name="form_location">
      Favorite Ninja Style: <input type="text" name="form_style">
      <input type="submit" value="Submit" name="form_submit">
    </form>
  </body>
</html>
